body{
	text-align: center;
	color: white;
	background-image: url(bg.png);
	font-size: 24px;
}
h1{
	font-size: 80px;
	margin-bottom: 350px;
}
.a1{
	font-size: 40px;
	margin-bottom: 180px;
}
.a2{
	font-size: 50px;
	border-style: inset;
	border-width: 30px;
	border-color: #e8a800;
	text-align: center;
	box-sizing: content-box ;
	width: 50%;
	margin-left: 22%;
	margin-top: 10%;
	margin-bottom: 10%;
}
.a3{
	font-size: 60px;
	color: #ffa009;
}
.a4{
	font-size: 50px;
	color: #efcf40;
}
.a5{
	font-size: 50px;
}
.a6{
	font-size: 36px;
	color: #bf9f10;
}
.a7{
	font-size: 30px;
}
.a8{
	margin-bottom: 90px;
	width: 50%;
}
.a9{
	background-color: black;
	border-color: black;
	border-style: solid;
	border-width: 50px;
	text-align: center;
}
.aa{
	color: white;
}